<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @foreach (var i in ViewBag.Css ?? new string[] { })
    {
        @Styles.Render(i);
    }
    @Scripts.Render("~/bundles/jquery")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie8")
    <![endif]-->
</head>

<body>
    <!--Top-->
    <div class="hidden-sm hidden-xs nav-top">
        <ul>
            <li><a href="http://ghy.cn" target="_blank" title="光华园首页">光华园首页</a></li>
            <li><a href="http://ghy.cn/firewood" target="_blank" title="柴火">柴火</a></li>
            <li><a href="http://ghy.cn/swufenews" target="_blank" title="新闻网">新闻网</a></li>
            <li><a href="http://ghy.cn/idea08" target="_blank" title="思想网">思想网</a></li>
            <li><a href="http://ghy.cn/study09" target="_blank" title="学网习">学习网</a></li>
            <li><a href="http://ghy.cn/life" target="_blank" title="生活网">生活网</a></li>
            <li><a href="http://music.ghy.cn" target="_blank" title="音乐网">音乐网</a></li>
            <li><a href="http://movie.ghy.cn" target="_blank" title="电影网">电影网</a></li>
            <li><a href="http://soft.ghy.cn" target="_blank" title="软件园">软件园</a></li>
            <li><a href="http://ghy.cn/lit08" target="_blank" title="文苑">文苑</a></li>
            <li><a href="http://bbs.ghy.cn" target="_blank" title="草堂茗香">草堂茗香</a></li>
        </ul>
    </div>
    <!--Header-->
    <div class="header container hidden-sm hidden-xs">
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <a href="~/"><img src="~/image/head-image.png" /></a>
            </div>
            <div class="col-sm-3 col-xs-5" id="head-ul">
                <a href="~/Sell/Search/Page/1" target="_blank">二货</a><a href="~/Car/Search/Page/1" target="_blank">爱拼</a>
            </div>
            <div class="col-sm-3 col-sm-offset-4 col-xs-12" id="head-user">
                <p id="username">欢迎，@ViewBag.NickName！<a href="#">个人主页</a><a href="~/User/Exit">退出</a></p>
            </div>
        </div>
    </div>
    <!--Mobile Top-->
    <header class="slide hidden-md hidden-lg">
        <ul id="navToggle" class="burger slide">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h1>柳交所</h1>
    </header>
    <nav class="slide hidden-md hidden-lg">
        <ul>
            <li>
                <a href="#" class="active">
                    <div class="input-group hidden-sm">
                        <input type="text" class="form-control" aria-label="...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" id="search"></span></button>
                        </span>
                    </div>
                </a>
            </li>
            <li><a href="~/sell/add">二手商品</a></li>
            <li><a href="~/buy/add">二手求购</a></li>
            <li><a href="~/car/add">拼出行</a></li>
            <li><a href="~/other/add">拼其他</a></li>
            <li><a href="#">个人主页</a></li>
            <li><a href="#">退出</a></li>
        </ul>
    </nav>
    <!--Main-->
    <div class="content slide">
        @RenderBody()
        <!--Footer-->
        <footer class="hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div id="footer-logo"></div>
                        <p>Copyright ©2001-2015 GHY.cn All rights reserved. 蜀ICP备07004602号</p>
                        <p>
                            西南财经大学党委宣传统战部 前进动力工作室
                        </p>
                    </div>
                    <div class="col-md-4" id="footer-right">
                        <div id="footer-right-left">
                            <p>
                                <span>Tel:</span>
                            </p>
                            <p>
                                <span>Email:</span>
                            </p>
                            <p>
                                <span>Address:</span>
                            </p>
                        </div>
                        <div>
                            <p>028-87092700</p>
                            <p>ghyers@ghy.cn</p>
                            <p>腾骧楼422室 前进动力工作室</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Mobile Footer-->
        <footer class="hidden-md hidden-lg text-center">
            <div class="container">
                <p>Copyright ©2001-2015 GHY.cn All Rights Reserved.</p>
                <p>tel:028-87092700 email:ghyers@ghy.cn</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @foreach (var i in ViewBag.Js ?? new string[] { })
    {
        @Scripts.Render(i);
    }
</body>
</html>