@model TradeWorkstation.Models.OtherForm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "拼其他表单-柳交所";
    ViewBag.Css = new string[]{
        "~/CSS/form.css"
    };
}
<div class="container" id="location">
    <span>您的位置 >> 发布拼其他信息</span>
</div>

<div class="container" id="title-top"><h5>发布拼其他行信息</h5></div>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Add", "Other", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-8 col-md-offset-2" id="fb-top">
                <div class="form-group row">
                    @Html.LabelFor(x => x.title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.title, new { @class = "form-control", placeholder = "请输入标题" })
                    </div>
                    <div class="col-md-9 col-md-offset-2 error-text">
                        @Html.ValidationMessageFor(x => x.title)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.endtime, new { @class = "col-md-2 control-label" })
                    <div class="input-group date form_datetime col-md-9" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1" style="padding:0 10px">
                        @Html.TextBoxFor(x => x.endtime, new { @class = "form-control" })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <div class="col-md-9 col-md-offset-2 error-text">
                        @Html.ValidationMessageFor(x => x.endtime)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.detail, new { @class = "col-md-2 control-label" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(x => x.detail, new { @class = "form-control", placeholder = "请输入详细信息", rows = "6" })
                    </div>
                    <div class="col-md-9 col-md-offset-2 error-text">
                        @Html.ValidationMessageFor(x => x.detail)
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4" id="form-bottom">
                <div class="col=md-12" id="title-bottom">联系方式（至少填一项）</div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.qq, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8 col-md-offset-1">
                        @Html.TextBoxFor(x => x.qq, new { @class = "form-control", placeholder = "请输入QQ号" })
                    </div>
                    <div class="col-md-8 col-md-offset-3 error-text">
                        @Html.ValidationMessageFor(x => x.qq)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.tel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8 col-md-offset-1">
                        @Html.TextBoxFor(x => x.tel, new { @class = "form-control", placeholder = "请输入手机号" })
                    </div>
                    <div class="col-md-8 col-md-offset-3 error-text">
                        @Html.ValidationMessageFor(x => x.tel)
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <label id="checkbox">
                        @Html.CheckBoxFor(x => x.agreement, new { @checked = true })我已同意柳交所协议
                    </label>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-submit">OK我要发布</button>
                </div>
            </div>
        }
    </div>
</div>