@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "拼其他展示-柳交所";
    ViewBag.Css = new string[]{
        "~/CSS/show.css"
    };
}
<div class="container clearfix" id="button-area">
    <a href="~/Car/Search/Page/1" class="btn btn-primary">拼出行</a><a href="~/Other/Search/Page/1" class="btn btn-success">拼其他</a>
    <a class="btn btn-warning float-r" href="~/Home/Publish"><span class="glyphicon glyphicon-plus"></span> 我 要 发 布</a>
</div>

<div class="container" id="show-area">
    <div class="row">
        <div class="col-md-12">
            <span class="linkitem">您的位置 >></span><a class="linkitem all-sort-linkitem2" href="~/Other/Search/Page/1">拼其他</a>
        </div>
        <div class="col-md-12" id="main">
            @foreach (var m in @ViewData.Model)
            {
                <div class="col-md-12 listall">
                    <div class="col-md-2 list-left text-center hidden-sm hidden-xs">
                        <img src="~/image/head-userhead-qiugou.png" />
                        <p>@m.NickName</p>
                    </div>
                    <div class="col-md-10 list-right clearfix">
                        <div class="col-sm-10 list-right-left">
                            <h4 class="my-text-overflow">@m.Title</h4>
                            <p>@m.Detail</p>
                            <p class="datatime">@m.NickName 于 @m.PostTime 发布 | <button type="button" class="btn btn-success btn-xs">收藏</button> <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">举报</button></p>
                        </div>
                        <div class="col-sm-2 hidden-xs padding-0-10 text-center">
                            <p>联系发布人</p>
                            <p>QQ：@m.QQ</p>
                            <p>Tel：@m.Tel</p>
                        </div>
                        <div class="visible-xs-block padding-0-20">
                            <p>联系发布人： QQ：@m.QQ  Tel：@m.Tel</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Small modal -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">举报理由</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div style="text-align:right">
                                <button type="button" class="btn btn-primary text-right">确定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<a href="#" onclick="gotoTop();return false;" class="totop"></a>